<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rahbarbazaar.poller.android">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.rahbarbazaar.poller.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rahbarbazaar.poller.android.permission.C2D_MESSAGE" />

    <application
        android:name=".Utilities.App"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ui.activities.TestActivity"></activity>
        <activity android:name=".test.Test" />
        <activity android:name=".Ui.activities.AgreementActivity1" />
        <activity android:name=".Ui.activities.SetLanguageActivity" />
        <activity
            android:name=".Ui.activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.ShopActivity1"
            android:screenOrientation="portrait" />
        <activity android:name=".Ui.activities.CustomBaseActivity" />
        <activity
            android:name=".Ui.activities.LotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.LotteryActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.activities.HtmlLoaderActivity"
            android:screenOrientation="portrait" />
        <!--
  <receiver android:name="SmsObserver">
            <intent-filter android:priority="1000">

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.rahbarbazaar.poller.android"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.rahbarbazaar.poller.android" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_493773417507" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="Tm9uZQ==" />

        <provider
            android:name=".Utilities.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>